.list
  margin: 12px
  flex: 1 0 25%
  display: flex
  flex-flow: column
  background: #383838
  box-shadow: 4px 4px 2px 0 rgba(black, 0.7)

  &__header
    font-family: 'Lobster'
    font-size: 24px
    flex: 0 0 32px
    padding: 16px 24px
    color: white
    
  &__content
    flex: 1 0 auto
    padding: 16px 12px
