.board
  display: flex
  flex-flow: column nowrap
  align-items: stretch
  flex: 1 0 auto
  
  &__header
    +glass-container()
    flex: 0 1 40px
    margin: 16px 16px 0
    display: flex
    justify-content: flex-end
    align-items: center
    padding: 8px 16px
  
  &__content
    flex: 1 0 auto
    display: flex
    justify-content: space-between
    align-items: stretch
    padding: 16px