.header-container
  flex: 0 0 64px
  display: flex
  align-items: center
  justify-content: center
  position: relative
  +glass-container()


  &__title
    h1
      font-family: 'Lobster', cursive
      font-size: 32px
      line-height: 32px
      margin: 20px 0
      color: white
      text-shadow: 2px 2px 2px rgba(black, 0.5)

  &__menu
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    display: flex
    padding: 0 64px

    &__user

    

  
